// 1. Import the initial variables
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

// Font
$base_font_text: Poppins;
$primary_font_text: "Playfair Display";

// Base colors
$base_text_color: #686767;
$base_primary_text_color: #ffffff;
$base_elements_color: #056839;
$base_param_color: #000000;
$base_border_background-color: #F6F8CE;
$base_background_color: #ffffff;

$shadow_color: rgba(#494949, 0.6)