///* Extra small devices (phones, up to 575.98px) */
//@media only screen and (max-width: 575.98px) {
//  /* Your CSS styles for extra small devices go here */
//}
//
///* Small devices (landscape phones, 576px to 767.98px) */
//@media only screen and (min-width: 576px) and (max-width: 767.98px) {
//  /* Your CSS styles for small devices go here */
//}
//
///* Medium devices (tablets, 768px to 991.98px) */
//@media only screen and (min-width: 768px) and (max-width: 991.98px) {
//  .logo {
//    margin-right: 5rem;
//    width: 14.6rem;
//    height: 10rem;
//    object-fit: cover;
//    vertical-align: top;
//  }
//}

// Tablet
@media only screen and (min-width: 1200px) and (max-width: 1300px) {

  // Header
  .logo {
    margin-right: 5rem;
    width: 15rem;
    height: 10rem;
  }

  .title {
    margin-top: -3.5rem;
    font-size: 4.4rem;
    font-weight: 800;
  }

  .transfers-btn {
    margin-top: 5%;
  }

  .banner-container {
    width: 65rem;
    height: 8.5rem;
    left: 7.1rem;
    top: 48.3rem;
  }

  // About us
  .about-elements {
    height: 36rem;
  }

  .description-about {
    padding: 5rem 5rem 0rem 5rem;
    width: 50rem;
  }

  .btn {
    margin-top: 1rem;
    background-color: transparent;
    color: #056839;
    border: 2px solid #056839;
  }

  .image-row {
    gap: 12px;
  }

  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 94%;
    height: 45%;
  }

  // Choose us
  .choose-us {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .ch-title {
    margin-bottom: -2rem;
    font-size: 1.3rem;
  }

  .choose-img {
    float: right;
    width: 46rem;
    height: 33rem;
    margin: -23rem 0 0 43rem;
  }

  .subtitle-choose {
    max-width: 28rem;
    font-size: 1.8rem;
  }

  .description-choose {
    margin-top: 25rem;
    max-width: 26rem;
    font-size: 1.2rem;
    text-align: left;
  }

  .button-choose {
    margin-top: 45rem;
  }


  // Blog
  .description-blog {
    padding: 4rem 5rem 0rem 5rem;
    width: 50rem;
  }

  .blog-title {
    margin: 5rem 15rem 14.3rem 0rem;
  }

  .button-blog {
    margin-top: 1.5rem;
  }

  .image-blog-container {
    position: relative;
    width: 33.33%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 0.5px;
  }

  .image-blog-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5px;
  }

  .blog-date {
    margin-top: 1rem;
  }

  //  Footer
  .footer-logo {
    margin: 0rem 10rem 0.5rem 0rem;
    width: 15rem;
    height: 10rem;
  }

  .txt-contact {
    margin: 0rem 10rem 0.5rem 0rem;
    margin-top: auto;
  }

  .company-name {
    margin-left: 30rem;
  }

  .line {
    width: 68rem;
  }
}

// Laptop
@media only screen and (min-width: 1380px) and (max-width: 1800px) {

  // Header
  .logo {
    margin-right: 10rem;
    width: 17rem;
    height: 12rem;
  }

  .title {
    margin-top: -3.5rem;
    font-size: 4.5rem;
    font-weight: 800;
  }

  .transfers-btn {
    margin-top: -3%;
  }

  .banner-container {
    width: 65rem;
    height: 8.5rem;
    left: 14.6rem;
    top: 48.3rem;
  }

  // About us
  .about-elements {
    height: 35rem;
  }

  .description-about {
    margin-left: -20rem;
    padding: 5rem 6.5rem 7.518rem 6.6rem;
    width: 70rem;
  }

  .btn {
    margin-top: 2rem;
    background-color: transparent;
    color: #056839;
    border: 2px solid #056839;
  }

  .image-row {
    width: 85rem;
    gap: 20px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
  }

  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95.5%;
    height: 30%;
  }

  // Choose us
  .choose-us {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .ch-title {
    margin-bottom: -2rem;
    font-size: 1.5rem;
  }

  .choose-img {
    float: right;
    width: 46rem;
    height: 33rem;
    margin: -23rem 0 0 43rem;
  }

  .subtitle-choose {
    max-width: 28rem;
    font-size: 1.9rem;
  }

  .description-choose {
    margin-top: 30rem;
    max-width: 26rem;
    font-size: 1.3rem;
    text-align: left;
  }

  .button-choose {
    margin-top: 53rem;
  }


  // Blog
  .description-blog {
    padding: 4rem 5rem 0rem 5rem;
    width: 70rem;
  }

  .blog-title {
    margin: 5rem 15rem 14.3rem 0rem;
  }

  .button-blog {
    margin-top: 1.5rem;
  }

  .image-blog-container {
    position: relative;
    width: 33.33%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 0.5px;
  }

  .image-blog-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5px;
  }

  .blog-date {
    margin-top: 1rem;
  }

  //  Footer
  .footer-logo {
    margin: 0rem 15rem 0.5rem 0rem;
    width: 17rem;
    height: 12rem;
  }

  .txt-contact {
    margin: 0rem 15rem 0.5rem 0rem;
    margin-top: auto;
  }

  .company-name {
    margin-left: 36rem;
  }

  .line {
    width: 80rem;
  }
}

// TV
@media only screen and (min-width: 1900px) {
  .logo {
    margin-right: 12rem;
    width: 25rem;
    height: 20rem;
  }

  .navigation {
    margin-bottom: 8.4rem;
    display: flex;
    align-items: center;
    font-family: Poppins;
  }
}


